<ion-header>
  <custom-navbar></custom-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="playlist != null && playlist.songs != null && playlist.songs.length > 0">
    <ion-item *ngFor="let song of playlist.songs; let current = index">
      <ion-icon *ngIf="playlist.activeIndex === current && playing" name="play" item-left></ion-icon>
      <ion-icon *ngIf="playlist.activeIndex === current && !playing" name="pause" item-left></ion-icon>
      <div (click)="play(current)">
        {{ song.artist.name }} - {{ song.name }}<br /> {{ song.duration }}
      </div>
      <ion-icon *ngIf="playlist.activeIndex != current" name="trash" item-right color="danger" (click)="remove(current)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer text-center>
  <button *ngIf="!playing" ion-button outline (click)="togglePlayback()">{{ 'PLAY_BUTTON' | translate }}</button>
  <button *ngIf="playing" ion-button outline (click)="togglePlayback()">{{ 'PAUSE_BUTTON' | translate }}</button>
  <button [disabled]="!playing" ion-button outline (click)="stopPlayer()">{{ 'STOP_BUTTON' | translate }}</button>
</ion-footer>